use [ProjectDB]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [Energy].[_dta_mv_2] WITH SCHEMABINDING
 AS 
SELECT  [Energy].[MonthlyConsumption].[Year] as _col_1,  [Energy].[MonthlyConsumption].[Municipality] as _col_2,  [Energy].[MonthlyConsumption].[District] as _col_3,  [Energy].[MonthlyConsumption].[Parish] as _col_4,  SUM([ProjectDB].[Energy].[MonthlyConsumption].[ActiveEnergy]) as _col_5, count_big(*) as _col_6 FROM  [Energy].[MonthlyConsumption]  GROUP BY  [Energy].[MonthlyConsumption].[Year],  [Energy].[MonthlyConsumption].[Municipality],  [Energy].[MonthlyConsumption].[District],  [Energy].[MonthlyConsumption].[Parish]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_2_c_6_1269579561__K1_K2_K3_K4] ON [Energy].[_dta_mv_2]
(
	[_col_1] ASC,
	[_col_2] ASC,
	[_col_3] ASC,
	[_col_4] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET QUOTED_IDENTIFIER ON
go

SET ARITHABORT ON
go

SET CONCAT_NULL_YIELDS_NULL ON
go

SET ANSI_NULLS ON
go

SET ANSI_PADDING ON
go

SET ANSI_WARNINGS ON
go

SET NUMERIC_ROUNDABORT OFF
go

CREATE VIEW [Energy].[_dta_mv_1] WITH SCHEMABINDING
 AS 
SELECT  [Energy].[ActiveContracts].[DistrictMunicipalityParishCode] as _col_1,  [Energy].[ActiveContracts].[District] as _col_2,  [Energy].[ActiveContracts].[Municipality] as _col_3,  [Energy].[ActiveContracts].[Parish] as _col_4,  SUM([ProjectDB].[Energy].[ActiveContracts].[NumberContracts]) as _col_5, count_big(*) as _col_6 FROM  [Energy].[ActiveContracts]  GROUP BY  [Energy].[ActiveContracts].[DistrictMunicipalityParishCode],  [Energy].[ActiveContracts].[District],  [Energy].[ActiveContracts].[Municipality],  [Energy].[ActiveContracts].[Parish]  

go

SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

go

CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_1_c_6_1237579447__K1_K2_K3_K4] ON [Energy].[_dta_mv_1]
(
	[_col_1] ASC,
	[_col_2] ASC,
	[_col_3] ASC,
	[_col_4] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_MonthlyConsumption_6_901578250__K4_K5_K6_K11_8] ON [Energy].[MonthlyConsumption]
(
	[District] ASC,
	[Municipality] ASC,
	[Parish] ASC,
	[DistrictMunicipalityParishCode] ASC
)
INCLUDE([ActiveEnergy]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

